<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>supermarket</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  
   <servlet>
    <servlet-name>UserPassUpdateServlet</servlet-name>
    <servlet-class>com.test.controller.UserPassUpdateServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>UserDelServlet</servlet-name>
    <servlet-class>com.test.controller.UserDelServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ProviderDelServlet</servlet-name>
    <servlet-class>com.test.controller.ProviderDelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillDelServlet</servlet-name>
    <servlet-class>com.test.controller.BillDelServlet</servlet-class>
  </servlet>
  
  
  <servlet>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.test.controller.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>tableServlet</servlet-name>
    <servlet-class>com.test.controller.TableServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>valuesServlet</servlet-name>
    <servlet-class>com.test.controller.ValuesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectServlet</servlet-name>
    <servlet-class>com.test.controller.SelectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectbillServlet</servlet-name>
    <servlet-class>com.test.controller.SelectBillServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectproviderServlet</servlet-name>
    <servlet-class>com.test.controller.SelectProviderServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>resultServlet</servlet-name>
    <servlet-class>com.test.controller.ResultServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.test.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>modifyinsertServlet</servlet-name>
    <servlet-class>com.test.controller.ModifyInsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>providerinsertServlet</servlet-name>
    <servlet-class>com.test.controller.ProviderInsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>useraddinsertServlet</servlet-name>
    <servlet-class>com.test.controller.UserAddInsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>insertServlet</servlet-name>
    <servlet-class>com.test.controller.InsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectUsertServlet</servlet-name>
    <servlet-class>com.test.controller.SelectUsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>com.test.controller.DeleteServlet</servlet-class>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>UserPassUpdateServlet</servlet-name>
    <url-pattern>/userpassupdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDelServlet</servlet-name>
    <url-pattern>/userdel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProviderDelServlet</servlet-name>
    <url-pattern>/providerdel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillDelServlet</servlet-name>
    <url-pattern>/billdel</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>selectUsertServlet</servlet-name>
    <url-pattern>/selectUser</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>insertServlet</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resultServlet</servlet-name>
    <url-pattern>/result</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selectbillServlet</servlet-name>
    <url-pattern>/selectbill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selectproviderServlet</servlet-name>
    <url-pattern>/selectprovider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>providerinsertServlet</servlet-name>
    <url-pattern>/provideradd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>useraddinsertServlet</servlet-name>
    <url-pattern>/useradd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>valuesServlet</servlet-name>
    <url-pattern>/values</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tableServlet</servlet-name>
    <url-pattern>/table</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modifyinsertServlet</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>